<% content_for :head do %>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <%= stylesheet_link_tag 'login' %>
<% end %>
<%= render "devise/shared/error_messages", resource: resource %>
<div id="login-page">
  <div class="form">
    <h2>Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

      <div class="field">
        <%= f.label :email, class: 'label' %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'login-input' %>
      </div>

      <div class="field">
        <%= f.label :password, class: 'label' %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: 'login-input' %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, class: 'label' %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'login-input' %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class: 'submit' %>
      </div>
    <% end %>
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <%= link_to "Home", '/' %>
        </div>
        <div class="col-sm"></div>
        <div class="col-sm">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
